<div class="fromValues">
    <div class="form-group" *ngIf="formValue.type == 'string' || formValue.type == 'integer'">
        <label for="{{ formValue.name }}" class="form-label mt-4">{{ formValue.label }}</label>
        <input type="text" class="form-control" id="{{ formValue.name }}" placeholder="{{ formValue.label }}">
    </div>

    <div class="form-group" *ngIf="formValue.type == 'choice'">
        <label for="{{ formValue.name }}" class="form-label mt-4">{{ formValue.label }}</label>
        <select class="form-select" id="{{ formValue.name }}">
            <option *ngFor="let choice of formValue.choices">{{ choice.display_name }}</option>
        </select>
    </div>

    <div class="form-group" *ngIf="formValue.type == 'nested object'">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ formValue.label }}</div>
            <div class="card-body">
                <div *ngFor="let child of formValue.childrenArray">
                    <div *ngIf="!child.read_only">
                      <app-formvalue [formValue]="child"></app-formvalue>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <div class="form-group" *ngIf="formValue.type == 'image upload'">

        <label for="formFileSm" class="form-label">{{ formValue.label }}</label>
        <input class="form-control form-control-sm" id="{{ formValue.name }}" type="file"
            (change)="onFileSelected($event)"/>
        <div class="invalid-feedback">{{ errorMessage }}</div>
    </div>
</div>