@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

.form-group{
    width:100%;
    max-width: 700px !important;
}

#nestedBox{
    width: 100%;
    margin:0px;
    max-width: 700px !important;
}

label{
    margin-top:10px;
}