<div>
    <div class="form-group" *ngIf="formValue.type == 'string' || formValue.type == 'integer'">
        <label for="{{ formValue.name }}" class="form-label mt-4">{{ formValue.label }}</label>
        <input type="text" class="form-control" id="{{ formValue.name }}" placeholder="{{ formValue.label }}">
    </div>

    <div class="form-group" *ngIf="formValue.type == 'choice'">
        <label for="{{ formValue.name }}" class="form-label mt-4">{{ formValue.label }}</label>
        <select class="form-select" id="{{ formValue.name }}">
            <option *ngFor="let choice of formValue.choices">{{ choice.display_name }}</option>
        </select>
    </div>

    <div class="form-group" *ngIf="formValue.type == 'nested object'">
        <label for="{{ formValue.label }}" class="form-label mt-4">{{ formValue.label }}</label>
        <div *ngFor="let child of formValue.childrenArray">
            <div *ngIf="!child.read_only">
              <app-formvalue [formValue]="child"></app-formvalue>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="formValue.type == 'image upload'">
        <label for="{{ formValue.name }}" class="form-label mt-4">{{ formValue.label }}</label>
        <input type="file" name="" id="{{ formValue.name }}">
    </div>
</div>