@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";


img{
    margin-top: 10px;
}

#header{
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: 70px;
    z-index: 2;
    border-bottom: 1px rgb(114, 112, 112) solid;
    margin: 0;
}

#logInOut{
    margin-left: auto;
    margin-right: auto;
    
}


#profils{
    float: right;
    color: rgb(114, 112, 112);
    text-decoration: none;
}

.headelement{
    padding: 20px;
}
