@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";


#loginComponent{
    width: 350px;
}

#submitbuttonlogin{
    margin: 20px;
    margin-left: 10px;
}