<div id="footer">
    <ol>
        <li>
            <a href="https://www.linkedin.com/company/itspolaire/" >
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-linkedin-in"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/ItsPolaire">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/accounts/login/">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-instagram"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/itsPolaire">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-twitter"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://vimeo.com/itspolaire">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-vimeo-v"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@itspolaire">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-tiktok"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="https://www.reddit.com/user/itsPolaire">
                <button type="button" class="btn btn-outline-light">
                    <i class="fab fa-reddit-alien"></i>
                </button>
            </a>
        </li>
    </ol>
    <button class="btn btn-outline-dark" id="linksButton"><h4>LINKS</h4></button>
    <div id="smallButtons">
        <button class="btn btn-outline-dark"><p>Impressum</p></button>
        <button class="btn btn-outline-dark"><p>Kontake</p></button>
        <button class="btn btn-outline-dark"><p>Homepage</p></button>
    </div>
</div>