<div id="body">
    <div *ngIf="company != null">
        
        <h1 id="topper"><img id="logo" src="{{company.logo}}" alt="Card image cap">{{ company.name }}</h1>

        <ol id="firstInfo">
            <li>

                <div class="card text-white bg-secondary mb-3" id="company">
                    <div class="card-header" id="companyHeader">Company</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ company.business }}</h4>
                        <p class="card-text"> <b class="bold">Phone </b> {{ company.phone }}</p>
                        <p class="card-text"> <b class="bold">Mail </b> {{ company.mail }}</p>
                    </div>
                </div>

                <app-worker [worker]="company.worker" class="inlineblock"></app-worker>
            </li>
        </ol>
        <ol id="furtherInfo">
            <li *ngFor="let module of modules">

                <div *ngIf="module.type == 'text'">
                    <app-textmodule [content]="module.content">
                    </app-textmodule>
                </div>

                <div *ngIf="module.type == 'gallery'">
                    <app-gallerymodule [content]="module.content">
                    </app-gallerymodule>
                </div>

                <div *ngIf="module.type == 'picture'">
                    <app-picturemodule [content]="module.content">
                    </app-picturemodule>
                </div>

                <div *ngIf="module.type == 'sozial'">
                    <app-socialmediamodule [content]="module.content">
                    </app-socialmediamodule>
                </div>

                <div *ngIf="module.type == 'collage'">
                    <app-collagemodule [content]="module.content">
                    </app-collagemodule>
                </div>
            </li>
        </ol>
        
    </div>
    <div *ngIf="company == null">
        <p id="margin"></p>
        <app-error></app-error>
    </div>
</div>