@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

#company{
    width: 45%;
    display: inline-block;
    height: auto;
    text-align: left;
}
