<form>
    <fieldset>
      <img src="http://localhost/media/images/northlights_CfCfBmm.jpg" alt="example image" id="accountImg">

      <legend id="header">Please fill out the from bellow to create a new account</legend>

      <div *ngFor="let formfield of formData">
        <div *ngIf="!formfield.read_only" class="element">
          <app-formvalue [formValue]="formfield" (uploadFileFunction)="uploadFileFunction()"></app-formvalue>
        </div>
      </div>

      <a class="btn btn-primary" (click)="submit()" id="submit">submit</a>
    </fieldset>
  </form>