@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

.element{
    width:60%;
    margin-left: 30px;
}

#header{
    width:60%;
    margin-top: 100px;
    margin-left:30px;
    margin-bottom: 20px;
}

#submit{
    margin:30px;
    margin-bottom: 0;
}

#accountImg{
    position: fixed;
    height: 200px;
    margin-right: auto;
    margin-left: 61.8%;
    height:100%;
}