@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

#companyList{
    min-height: 52vh;
}

#companyTable{
    top: 20px;
    position: relative;
    width: 100%;
}

#newCompany{
    margin-left: 30px;
    margin-right: auto;
}

li{
    list-style-type: none;
    display: inline-block;
}

a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
