
<div class="card border-danger mb-3" id="error" >
    <div class="card-header">
        <i class="fas fa-exclamation-triangle"></i>
        Error
    </div>
    <div class="card-body">
      <p class="card-text">There was no data found for the entered index. Please make sure the right one is used. Otherwise reload the page!</p>
      <p class="card-text">Für den eingegebenen Index wurden keine daten gefunden. Versicheren Sie sich, dass der richtige Index verwendet worden ist. Andernfalls, laden Sie die Seite neu!</p>
    </div>
</div>