<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polaire</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.bundle.js' %}"></script>

</head>

<body style="">
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'Polaire.png' %}" alt="Logo" width="64" height="64" class="d-inline-block">
      </a>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

  </nav>

  <div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <img src="{{company.logo}}" alt="Logo" class="rounded-circle float-left" style="width:150px;">
      <h1 class="float-right mt-3">{{ company.name }}</h1>
    </div>
    <div class="card-body">
      <p class="text-primary float-right">{{ company.business }}</p>
      <p class="">{{ company.adress }}</p>
      <p><b>Telefon</b> {{company.phone }}<b class="ml-3">E-Mail</b> {{ company.mail }}</p>
  </div>
    <!--<div class="card-footer">Footer</div>!-->
  </div>

  
  {% if worker %}
  <div class="card" style="width:20rem;margin:20px 0 24px 0">
    <img class="card-img-top" src="{{worker.picture}}" alt="image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{ worker.first_name }} {{ worker.last_name }}</h4>
      <p class="card-text">
        <b>Telefon</b> {{ worker.phone }}</br><b>E-Mail</b> {{ worker.mail }}
      </p>
    </div>
  </div>
  {% endif %}
  </div>  

</body>

</html>