{% extends "base.html" %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <img src="{{company.logo}}" alt="Logo" class="float-left" style="width:150px;">
      <h1 class="float-right mt-3">{{ company.name }}</h1>
    </div>
    <div class="card-body">
      <p class="text-primary float-right">{{ company.business }}</p>
      <p class="">{{ company.adress }}</p>
      <p><b>Telefon</b> {{company.phone }}<b class="ml-3">E-Mail</b> {{ company.mail }}</p>
    </div>
    <!--<div class="card-footer">Footer</div>!-->
  </div>


  {% if worker %}
  <div class="card" style="width:20rem;margin:20px 0 24px 0">
    <img class="card-img-top" src="{{worker.picture}}" alt="image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{ worker.first_name }} {{ worker.last_name }}</h4>
      <p class="card-text">
        <b>Telefon</b> {{ worker.phone }}</br><b>E-Mail</b> {{ worker.mail }}
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}